[Desktop Entry]
Type=Application
Name=gamecatcher
Comment=Avisa quando um jogo pago fica grátis na Steam
Exec=@BIN@ run
Icon=steam
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-KDE-autostart-phase=2
